body{
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: green;
    text-align: center;
    margin: 3px;
}
#dealerCard img {
    display: flex;
    height: 150px;
    width: 100px;
    margin-left: 600px;
    
}

#playerCard img {
    display: flex;
    height: 150px;
    width: 100px;
    margin-left: 600px;
}

#dealerSum, #playerSum, #result {
    font-size: 20px;
    margin-top: 30px;
}

#add{
    margin: 5px;
}

